@font-face {
    font-family: 'eastwest';
    src: url('../fonts/eastwest.otf'), url('../fonts/eastwest.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.cabezal {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
}

.portada {
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .portada iframe {
        height: 56.25vw;
    }
}
      
@media (max-aspect-ratio: 16/9) {
    .portada iframe {
        width: 177.78vh;
    }
}

.video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: -100;
}

.oscuro {
    position: fixed;
    background-color: black;
    opacity: .25;
    height: 100%;
    width: 100%;
}

.info {
    position: fixed;
    right: 25%;
    bottom: 25%;
    height: 50%;
    width: 50%;
    background-color: #1e1e1e .25;
    backdrop-filter: blur(15px);
    border-radius: 50px;
    padding: 50px;
    text-align: center;
    font-family: 'eastwest';
}

.info h1 {
    font-size: 50px;
}

.personaje {
    height: 100%;
    width: 100%;
    padding: 0 !important;
    color: azure;
    background-color: #121212 !important;
}

.personaje h1 {
    font-size: 100px;
    text-shadow: 0px 0px 5px black;
    text-transform: lowercase;
    font-family: 'eastwest';
    margin: 0px;
}

.personaje h2 {
    font-size: 75px;
    text-shadow: 0px 0px 5px black;
    text-transform: lowercase;
    font-family: 'eastwest';
    margin: 0px;
}

.personaje small {
    font-size: 25px;
    text-shadow: 0px 0px 5px black;
    margin: 0px;
}

.personaje p {
    font-size: 40px;
    text-shadow: 0px 0px 5px black;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.personaje ion-img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.titulo-info {
    height: 300px;
}

.titulo-info h1 {
    margin-top: 100px;
    text-align: center;
    text-transform: lowercase;
    font-family: 'eastwest';
    font-size: 50px;
}

.tema-info {
    background-color: var(--ion-background-color-step-100);
    border-radius: 30px;
    margin: 50px;
    padding: 25px;
}

.tema-info h3 {
    text-align: center;
}

.tema-info ion-col {
    min-width: 300px;
}